<section class="mt-4 border-t-4 border-t-black">
    <div class="flex flex-col md:flex-row justify-between pt-4 pr-5 pl-5">
        <div class="flex flex-col gap-2">
            <h2 class="font-bold text-xl">EDUCACIÓN</h2>
            <div>
                <p class="font-bold">2021 - 2023</p>
                <p class="font-semibold">Universidad Mayor</p>
                <p>Ingeniería en Informática (incompleto)</p>
            </div>
            <div>
                <p class="font-bold">2020 - 2021</p>
                <p class="font-semibold">Certificaciones</p>
                <p>Automation Anywhere v11,</p>
                <p>Product Owner y Scrum Master</p>
            </div>
        </div>
        <div class="pt-3 sm:pt-0">
            <h2 class="font-bold text-xl mb-2">HABILIDADES</h2>
            <ul class="list-disc list-inside">
                <li>Comunicación Efectiva</li>
                <li>Resolución de Problemas</li>
                <li>Trabajo en equipo</li>
                <li>Manejo en diversas tecnologías</li>
            </ul>
        </div>
    </div>
</section>
