---
import Jobs from "./Jobs.astro";
import jobs from "../../../data/jobs.json";
---

<section class="mt-4 border-t-4 border-t-black">
    <div class="pt-4 pb-4 pl-5 pr-5">
        <h2 class="font-bold text-xl">EXPERIENCIA LABORAL</h2>
        {
            jobs.map((job) => (
                <Jobs
                    title={job.title}
                    company={job.company}
                    date={job.date}
                    description={job.description}
                />
            ))
        }
    </div>
</section>
