<section class="mt-4">
    <div class="pl-5 pr-5">
        <h2 class="text-2xl font-semibold uppercase">
            desarrollador de software
        </h2>
        <p class="mt-4">
            Desarrollador de software autodidacta con más de siete años de
            experiencia profesional, especializado en la creación de
            aplicaciones escalables, resilientes y de alto rendimiento. Capaz de
            colaborar efectivamente en equipos ágiles y de implementar procesos
            de desarrollo robustos. Poseo experiencia en diversas tecnologías
            como Python, JavaScript, TypeScript, Azure, Scrum, Docker, CI/CD en
            GitHub, y en varios frameworks y librerías como Pandas, PySpark,
            React, Django, FastAPI. También tengo experiencia en el diseño,
            levantamiento, despliegue y mantenimiento de procesos. Certificado
            como Scrum Master y Product Owner. Comprometido con la mejora
            continua y el aprendizaje constante.
        </p>
    </div>
</section>
