---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Resume from "../components/Resume.astro";
import Education from "../components/Education.astro";
import Experience from "../components/Experience.astro";
---

<Layout title="CV">
    <main class="max-w-3xl mx-auto">
        <Header />
        <Resume />
        <Education />
        <Experience />
    </main>
</Layout>
