---
const { post } = Astro.props;

const { Content } = await post.render();
---

<article class="mx-auto">
    <a href={post.data.url} target="_blank">
        <h2 class="text-4xl font-bold hover:underline pb-8">
            {post.data.title}
        </h2>
    </a>
    <div class="prose prose-invert lg:prose-xl pb-8">
        <Content />
    </div>
</article>
