---
import ArrowLeft from "@/icons/ArrowLeft.astro";
---

<div class="back">
  <a href="/"><ArrowLeft />back</a>
</div>

<style>
  .back {
    display: flex;
    justify-content: right;
    margin-bottom: 1rem;
  }

  .back a {
    display: flex;
  }
</style>
