---
import Github from "@/icons/Github.astro";
---

<header id="header-top" class="flex justify-between items-center pt-4 pb-8">
  <span class="text-2xl font-bold"><a href="/">Luis Torres Cereño</a></span>
  <span class="flex justify-between gap-3">
    <a href="https://cv-three-zeta.vercel.app/" target="_blank">Sobre mi</a>
    <a
      href="https://github.com/torrescereno"
      target="_blank"
      class="flex items-center gap-2"
    >
      <Github />
    </a>
  </span>
</header>
