<header class="py-4">
    <div class="pl-5 pr-5 flex justify-between items-center">
        <div>
            <h1 class="text-6xl font-bold uppercase">luis torres cereño</h1>
        </div>
        <div class="flex flex-col justify-center">
            <a href="tel:+56988009128" class="flex items-center space-x-2">
                <svg
                    class="w-[32px] h-[32px]"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    fill="none"
                    viewBox="0 0 24 24"
                >
                    <path
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="1"
                        d="M18.427 14.768 17.2 13.542a1.733 1.733 0 0 0-2.45 0l-.613.613a1.732 1.732 0 0 1-2.45 0l-1.838-1.84a1.735 1.735 0 0 1 0-2.452l.612-.613a1.735 1.735 0 0 0 0-2.452L9.237 5.572a1.6 1.6 0 0 0-2.45 0c-3.223 3.2-1.702 6.896 1.519 10.117 3.22 3.221 6.914 4.745 10.12 1.535a1.601 1.601 0 0 0 0-2.456Z"
                    ></path>
                </svg>
                <span>+56 9 88009128</span>
            </a>
            <a
                href="mailto:torrescereno@gmail.com"
                class="flex items-center space-x-2"
            >
                <svg
                    class="w-[32px] h-[32px]"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    fill="none"
                    viewBox="0 0 24 24"
                >
                    <path
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="1"
                        d="M11 16v-5.5A3.5 3.5 0 0 0 7.5 7m3.5 9H4v-5.5A3.5 3.5 0 0 1 7.5 7m3.5 9v4M7.5 7H14m0 0V4h2.5M14 7v3m-3.5 6H20v-6a3 3 0 0 0-3-3m-2 9v4m-8-6.5h1"
                    ></path>
                </svg>
                <span>torrescereno@gmail.com</span>
            </a>
        </div>
    </div>
</header>
